.actions {
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-end;
}

.actions a, .actions div {
  flex: 1;
  line-height: 1;
  text-align: center;
  padding: 0.85em 1em;
  color: #ddd;
  text-decoration: none;
  font-weight: 700;

  margin: 5px;
}

.actions a:visited {
  color: #ddd;
}
.actions .source {
  background: linear-gradient(60deg, #6ba1c8, #000, #5d6196);
}

.actions .explore {
  background: linear-gradient(120deg, #5d6196, #000, #6ba1c8), #6ba1c8;
}

.actions .disabled {
  background: #666;
}
