@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  src:url("../fonts/Inconsolata/Inconsolata-Regular.ttf");
}

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 700;
  src:url("../fonts/Inconsolata/Inconsolata-Bold.ttf");
}

@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src:url("../fonts/Space_Mono/SpaceMono-Regular.ttf");
}
