.footer {
  background-color: #3a3a3a;
  color: #eee;
  display: flex;
  align-items: center;

  padding: 40px 60px;
  margin-top: 30px;
}

.socials {
  font-size: 2em;
  font-weight: 500;
}

.socials a {
  font-size: 0.7em;
  color: #adcfed;
  text-decoration: none;
}

.socials a:visited {
  color: #adcfed;
  text-decoration: none;
}

.socials a:hover {
  color: #9fa1eb;
}

