@media (min-width: 900px) {
  .project {
    flex-flow: row nowrap;
  }
  .description {
    width: 50%;
  }
  .project .photo {
    max-width: 48%;
  }
}

.project {
  margin: 1em 0em;
}


.project img {
  justify-self: end;
}

