@import url(fonts.css);
@import url(actions.css);
@import url(project.css);
@import url(header.css);
@import url(photography.css);

.container {
  display: flex;
  flex-flow: column nowrap;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  min-height: 1100px;
  justify-content: space-around;
}

.item {
  margin: 30px 5px 30px 5px;
}

.hoverable {
  transition: opacity 0.25s ease-out, box-shadow 0.25s ease-out;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 4px #00000094;
}

.hoverable:hover {
  opacity: 0.9;
  box-shadow: 0px 0px 15px 0px #00000094;
}

img {
  max-width: 100%;
}

body {
  margin: 0px;
  color: #444;
  font-family: "Inconsolata", monospace;
}
