@import url(fonts.css);
@import url(project.css);
@import url(header.css);

.container {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}

.hoverable {
  transition: opacity 0.25s ease-out;
  cursor: pointer;
}

.hoverable.disabled {
  cursor: auto;
}

.hoverable:hover {
  text-decoration: underline;
}

.hoverable.disabled:hover {
  opacity: 1;
}

img {
  max-width: 50%;
}

body {
  margin: 0px;
  color: #547ad0;
  font-family: "Inconsolata", monospace;
  overflow-x: hidden;
  line-height: 1.6em;
}

.content {
  padding: 0em 3em;
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-flow: column;
  overflow-y: scroll;
}

.my-face {
  width: 50%;
  width: 50vw;
  height: 100%;
  height: 100vh;
  background: url("../images/me-nz.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.with-line {
  padding-bottom: 0.4em;
  border-bottom: 1px solid #ccc;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #547ad0;
}

a::after {
  content: "";
}


.links {
  margin: 1em 0em;
}

.links a {
  margin: 0 0.2em 0 0;
}